@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


body {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 1.5em;;
}

h1 {
    font-family: 'Fredoka One', cursive;
    background-color: #ff914d;
    font-size: 2.8em;
    color: white;
    margin-top: 0px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

}

h2 {
    font-size: 1.8em;
    color: #555;
    margin-bottom: 15px;
}

input {
    width: 250px;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ff914d;
    border-radius: 5px;
    margin: 10px 0;
    font-family: 'Fredoka One', cursive;
}

button {
    background-color: #ff914d;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Fredoka One', cursive;
}

button:hover {
    background-color: #d4692d;
}

#message {
    font-size: 1.2em;
    color: red;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ff914d;
    color: white;
    text-align: center;
    padding: 0.01px 0;
    font-size: 0.9em;
}


img {
    max-width: 400px;
    max-height: 4%;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

